<section class="steps-section">
    <div class="container">
        <div class="steps-container">
            <div class="steps-table">
                <h3 id="how-it-works" class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h3>
                <ol class="steps-list">
                    <li class="steps-item">
                        <p class="steps-text">Just choose the vegetable you want to order by clicking on the
                            checkboxes next to it.</p>
                    </li>
                    <li class="steps-item">
                        <p class="steps-text second">Click on the basket and fill out the form.</p>
                    </li>
                    <li class="steps-item">
                        <p class="steps-text">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
                    </li>
                </ol>
            </div>
            <picture class="steps-image">
                <source srcset="
                            ./img/how-it-works/steps-girl-mob.png    1x,
                            ./img/how-it-works/steps-girl-mob@2x.png 2x
                          " media="(max-width: 767.98px)" type="image/png" />
                <source srcset="
                            ./img/how-it-works/steps-girl-tab.png    1x,
                            ./img/how-it-works/steps-girl-tab@2x.png 2x
                          " media="(min-width: 768px)" type="image/png" />
                <source srcset="
                            ./img/how-it-works/steps-girl-desk.png    1x,
                            ./img/how-it-works/steps-girl-desk@2x.png 2x
                          " media="(min-width: 1280px)" type="image/png" />
                <img src="./img/how-it-works/steps-girl-mob.png" alt="girl-with-vegetables" class="photo-girl" />
            </picture>
        </div>
    </div>
</section>