<section class="vegetables">
  <div class="vegetables-container">
    <div class="organic-block">
      <h2 class="organic-title">oRGANIC vegetables</h2>
    <p class="vegetable-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    </div>
    <ul class="list vegetables-list">
      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Carrot</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img class="vegetable-img-carrot"
            src="../img/vegetables/carrot-min.png"
            width="292"
            height="223" 
            alt="Carrot" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">100 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Brussel sprouts</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img class="vegetable-img-brussel"
            src="../img/vegetables/brussel-min.png"
            width="230"
            height="230" 
            alt="Brussel sprouts" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../images/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">80 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Tomato</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img class="vegetable-img-tomato"
            src="../img/vegetables/tomato-min.png"
            width="278"
            height="176" 
            alt="Tomato" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">40 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Eggplant</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img 
            src="../img/vegetables/eggplant-min.png"
            width="194"
            height="193" 
            alt="Eggplant" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">60 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Sweet potatoes</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img 
            src="../img/vegetables/potatoes-min.png"
            width="294"
            height="189" 
            alt="Sweet potatoes" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">80 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Leek</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img 
            src="../img/vegetables/leek-min.png"
            width="284"
            height="198" 
            alt="Leek" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">50 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Mushrooms</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img 
            src="../img/vegetables/mushrooms-min.png"
            width="325"
            height="183" 
            alt="Mushrooms" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">40 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Corn</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img 
            src="../img/vegetables/corn-min.png"
            width="265"
            height="203" 
            alt="Corn" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">60 UAH / kg</p>
        </li>
      </li>

      <li class="vegetable-item is-hidden">
        <h3 class="vegetable-title-card"></h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
            <img 
            src=""
            width=""
            height="" 
            alt="" 
            /></a>
            <svg class="vegetable-shadow" width="195" hight="38" >
            <use class="shadow-icon" href="../img/vegetables/vegetables_icons.svg#icon-Oval" ></use>   
            </svg>
        <p class="price-text">
      </p>  
    </li>
    </ul>
    <button class="order-btn" type="button">
        <svg class="order-icon" width="14" hight="14">
        <use href="../img/vegetables/vegetables_icons.svg#icon-Vector_btn"></use>
        </svg> oRDER</button>
  </div>
</section>