<section class="vegetables">
  <div class="vegetables-container">
    <div class="organic-block">
      <h2 class="organic-title">oRGANIC vegetables</h2>
      <p class="vegetable-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="list vegetables-list">
      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Carrot</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-carrot"
            src="./img/vegetables/carrotd-min.png"
            srcset="
              ./img/vegetables/carrotd-min.png 1x,
              ./img/vegetables/carrot-min.png  2x
            "
            width="292"
            height="223"
            alt="Carrot" />
          <img
            class="vegetable-shadow"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">100 UAH / kg</p>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Brussel sprouts</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-brussel"
            src="./img/vegetables/brusseld-min.png"
            srcset="
              /img/vegetables/brusseld-min.png 1x,
              ./img/vegetables/brussel-min.png 2x
            "
            width="230"
            height="230"
            alt="Brussel sprouts" />
          <img
            class="vegetable-shadow-brussel"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">80 UAH / kg</p>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Tomato</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-tomato"
            src="./img/vegetables/tomatod-min.png"
            srcset="
              ./img/vegetables/tomatod-min.png 1x,
              ./img/vegetables/tomato-min.png  2x
            "
            width="278"
            height="176"
            alt="Tomato" />
          <img
            class="vegetable-shadow-tomato"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">40 UAH / kg</p>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Eggplant</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-eggplant"
            src="./img/vegetables/eggplantd-min.png"
            srcset="
              ./img/vegetables/eggplantd-min.png 1x,
              ./img/vegetables/eggplant-min.png  2x
            "
            width="194"
            height="193"
            alt="Eggplant" />
          <img
            class="vegetable-shadow-eggplant"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">60 UAH / kg</p>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Sweet potatoes</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-potatoes"
            src="./img/vegetables/potatoesd-min.png"
            srcset="
              ./img/vegetables/potatoesd-min.png 1x,
              ./img/vegetables/potatoes-min.png  2x
            "
            width="294"
            height="189"
            alt="Sweet potatoes" />
          <img
            class="vegetable-shadow-potatoes"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">80 UAH / kg</p>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Leek</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-leek"
            src="./img/vegetables/leekd-min.png"
            srcset="
              ./img/vegetables/leekd-min.png 1x,
              ./img/vegetables/leek-min.png  2x
            "
            width="284"
            height="198"
            alt="Leek" />
          <img
            class="vegetable-shadow-leek"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">50 UAH / kg</p>
      </li>

      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Mushrooms</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-mushrooms"
            src="./img/vegetables/mushroomsd-min.png"
            srcset="
              ./img/vegetables/mushroomsd-min.png 1x,
              ./img/vegetables/mushrooms-min.png  2x
            "
            width="325"
            height="183"
            alt="Mushrooms" />
          <img
            class="vegetable-shadow-mushrooms"
            src="../img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">40 UAH / kg</p>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-title-card">Corn</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-corn"
            src="./img/vegetables/cornd-min.png"
            srcset="
              ./img/vegetables/cornd-min.png 1x,
              ./img/vegetables/corn-min.png  2x
            "
            width="265"
            height="203"
            alt="Corn"
          />
          <img
            class="vegetable-shadow-corn"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
          />
        </a>
        <p class="price-text">60 UAH / kg</p>
      </li>

      <li class="vegetable-item-radish">
        <h3 class="vegetable-title-card">Radish</h3>
        <p class="vegetable-card-text">Plant</p>
        <a class="vegetable-link" href="">
          <img
            class="vegetable-img-radish"
            src="./img/vegetables/radishd-min.png"
            width="316"
            height="181"
            alt="Radish" />
          <img
            class="vegetable-shadow-radish"
            src="./img/vegetables/Oval.png"
            width="195"
            height="38"
            alt="Shadow"
        /></a>
        <p class="price-text">90 UAH / kg</p>
      </li>
    </ul>
    <button class="order-btn" type="button">
      <svg class="order-icon" width="14" height="14">
        <use
          href="../img/vegetables/vegetables_icons.svg#icon-Vector_btn"
        ></use>
      </svg>
      <span class="order-text">oRDER</span>
    </button>
  </div>
</section>
