<section>
  <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <h2 class="form-head">Your Order</h2>

      <button class="x-button" data-modal-close type="button">
        <svg class="x-svg" width="24" height="24">
          <use href="./img/your_order/icons.svg#icon-x-modal"></use>
        </svg>
      </button>
      <ul class="checkbox-list">
        <li class="order-list-item">
          <div class="form-checkbox-item">
            <div class="item-text-div">
              <h3>Cabbage Basket</h3>
              <p>Plant</p>
            </div>
            <img
              class="order-img"
              src="./img/your_order/cabbage.png"
              alt="photo"
              srcset="
                ./img/your_order/cabbage.png   1x,
                ./img/your_order/cabbage2x.png 2x
              "
            />
            <input
              class="first-checkbox visually-hidden"
              id="first-checkbox"
              name="first-checkbox"
              type="checkbox"
              value="true"
            />
            <label class="check-label" for="first-checkbox">
              <span class="check-svg-square">
                <svg class="check-svg" width="16" height="16">
                  <use href="./img/your_order/icons.svg#icon-check"></use>
                </svg> </span
            ></label>
          </div>
        </li>
        <li class="order-list-item">
          <div class="form-checkbox-item">
            <div class="item-text-div">
              <h3>Tomato Basket</h3>
              <p>Plant</p>
            </div>
            <img
              class="order-img"
              src="./img/your_order/tomato.png"
              alt="photo"
              srcset="
                ./img/your_order/tomato.png   1x,
                ./img/your_order/tomato2x.png 2x
              "
              width="120"
            />
            <input
              class="second-checkbox visually-hidden"
              id="second-checkbox"
              name="second-checkbox"
              type="checkbox"
              value="true"
            />
            <label class="check-label" for="second-checkbox">
              <span class="check-svg-square">
                <svg class="check-svg" width="16" height="16">
                  <use href="./img/your_order/icons.svg#icon-check"></use>
                </svg> </span
            ></label>
          </div>
        </li>
        <li class="order-list-item">
          <div class="form-checkbox-item">
            <div class="item-text-div">
              <h3>Vegetables Basket</h3>
              <p>Plant</p>
            </div>
            <img
              class="order-img"
              src="./img/your_order/vegetables.png"
              alt="photo"
              srcset="
                ./img/your_order/vegetables.png   1x,
                ./img/your_order/vegetables2x.png 2x
              "
              width="120"
            />
            <input
              class="third-checkbox visually-hidden"
              id="third-checkbox"
              name="third-checkbox"
              type="checkbox"
              value="true"
            />
            <label class="check-label" for="third-checkbox">
              <span class="check-svg-square">
                <svg class="check-svg" width="16" height="16">
                  <use href="./img/your_order/icons.svg#icon-check"></use>
                </svg> </span
            ></label>
          </div>
        </li>
      </ul>
      <form class="order-form" name="order-form">
        <div class="form-input-item">
          <input
            class="input-input"
            id="user-name"
            name="user-name"
            type="text"
            pattern="[A-Za-z]{1,32} [A-Za-z]{1,32}"
            placeholder="Enter full name.."
            required
          />
        </div>
        <div class="form-input-item">
          <input
            class="input-input"
            id="user_card"
            name="user_card"
            type="text"
            pattern="[0-9]{4}[0-9]{4}[0-9]{4}[0-9]{4}"
            placeholder="Enter card.."
            required
          />
        </div>
        <div class="form-input-item">
          <input
            class="input-input"
            id="e-mail"
            name="e-mail"
            type="email"
            placeholder="Enter email.."
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required
          />
        </div>
        <textarea
          class="comment-textarea"
          id="comment-textarea"
          name="comment-textarea"
          placeholder="Enter comments..."
        ></textarea>

        <button class="modal-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
