.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 375px;
  width: 100%;
}

.steps-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url(../img/how-it-works/dot.svg);
  background-color: #faf3e7;
  background-repeat: repeat;
  background-position: -18px -18px;
  background-size: 46px;
  border-radius: 40px;
  gap: 20px;
}
.steps-table {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.steps-title {
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  padding-top: 40px;
  margin: 0;
}
.steps-list {
  counter-reset: myCounter;
  padding: 0px 20px 20px 0px;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  gap: 21px;
  list-style-position: outside;
}

.steps-item {
  list-style: none;
  position: relative;
  padding-left: 53px;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: -0.035em;
  max-width: 275px;
}
.steps-text {
  max-width: 175px;
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.steps-item::before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #141414;
  background-color: #a1c487;
  border-radius: 200px;
  display: block;
  position: absolute;
  text-align: center;
  margin: auto;
  line-height: 38px;
  width: 40px;
  height: 38px;
  left: 0;
  top: 0;
  bottom: 0;
}
.manual-image img {
  margin: 0 auto;
}
/*==================MOBILE MEDIA==================*/
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
/*==================TABLET MEDIA==================*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 32px;
  }

  .steps-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    background-position: -13px -17px;
    background-size: 43px;
    gap: 40px;
    padding-top: 40px;
    border-radius: 80px;
  }
  .steps-image img {
    max-width: 350px;
  }
  .steps-table {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .steps-title {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.07em;
    padding-top: 40px;
  }
  .photo-girl {
    flex-shrink: 0;
  }
  .steps-list {
    flex-grow: 0;
    gap: 20px;
  }

  .steps-item {
    max-width: 275px;
  }
  .steps-list :not(:first-child):not(:last-child) {
    max-width: 219px;
  }
}
/* ==================DESKTOP MEDIA==================*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .steps-container {
    width: 100%;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 110px;
    justify-content: space-evenly;
    background-position: -11px -17px;
    background-size: 49px;
  }
  .steps-image img {
    max-width: 434px;
  }
  .steps-table {
    gap: 40px;
  }
  .steps-list {
    gap: 30px;
  }
  .steps-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.1em;
    max-width: 512px;
  }
  .steps-item {
    max-width: 349px;
  }
  .steps-text {
    max-width: 289px;
  }
  .steps-list :not(:first-child):not(:last-child) {
    max-width: 219px;
  }
}
