.vegetables {
  margin: 0 auto;
}
.vegetables-container {
  max-width: 335px;
  padding-left: 10px;
  margin: 0 auto;
}
.organic-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-bottom: 40px;
}
.organic-title {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.96px;
  text-transform: uppercase;
}
.vegetable-text {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}
.vegetables-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.vegetable-item {
  background-color: #eaf7e5;
  width: 100%;
  border-radius: 25px;
}
.vegetable-title-card {
  color: #141414;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -0.96px;
  margin-top: 40px;
  margin-bottom: 8px;
  margin-left: 20px;
}
.vegetable-card-text {
  color: #141414;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin-left: 20px;
}
.vegetable-link {
}
.vegetable-img-carrot {
  margin: 40px 25px 0 10px;
}
.vegetable-img-brussel {
  margin: 36px 54px 0 51px;
}
.vegetable-img-tomato {
  margin: 52px 30px 0 18px;
}
.vegetable-img-eggplant {
  margin: 44px 72px 0 69px;
}
.vegetable-img-potatoes {
  margin: 44px 22px 0 10px;
}
.vegetable-img-leek {
  margin: 34px 26px 0 25px;
}
.vegetable-img-mushrooms {
  margin: 48px 7px 0 0;
}
.vegetable-img-corn {
  margin: 36px 43px 0 27px;
}
.vegetable-shadow {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: -12px 74px 22px 66px;
}
.vegetable-shadow-brussel {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: -23px 72px 22px 68px;
}
.vegetable-shadow-tomato {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: 19px 72px 22px 68px;
}

.vegetable-shadow-eggplant {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: 10px 72px 22px 68px;
}
.vegetable-shadow-potatoes {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: 14px 72px 22px 68px;
}
.vegetable-shadow-leek {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: 15px 71px 22px 69px;
}
.vegetable-shadow-mushrooms {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: 16px 72px 22px 68px;
}
.vegetable-shadow-corn {
  fill: #141414;
  opacity: 0.10000000149011612;
  filter: blur(13.591408729553223px);
  max-height: 38px;
  margin: 12px 74px 18px 66px;
}
.price-text {
  color: #141414;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.vegetable-item-radish {
  display: none;
}
.list {
  list-style: none;
}
.order-btn {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 26px 8px 26px 7px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  background-color: #fc8a11;
  border: none;
  fill: #fff;
}
.order-icon {
  max-height: 14px;
  align-self: flex-end;
}

.order-text {
  transform: rotate(-14deg);
}
@media screen and (min-width: 375px) {
  .vegetables-container {
    padding: 0 20px;
  }
  .vegetable-img-carrot {
    margin: 40px 25px 0 18px;
  }
  .vegetable-img-potatoes {
    margin: 44px 22px 0 19px;
  }
  .vegetable-img-mushrooms {
    margin: 48px 7px 0 3px;
  }
  .order-btn {
    background-color: #4811fc;
  }
}
@media screen and (min-width: 768px);
